@use '../../abstracts';

.headerAllAds {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  padding: 24px 16px;
  background-color: abstracts.$secondary-color;
}
.heading {
  display: flex;
  justify-content: center;
}

.AdsByCategory {
  background-color: abstracts.$white;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding: 10px 10px 10px 10px;
  gap: 10px 10px;
  justify-content: space-between;
}
