@use '../../abstracts';

.headerAllAds {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  padding: 24px 16px;
  background-color: abstracts.$white;
  justify-content: center;
  align-items: center;
}
.heading {
  display: flex;
  justify-content: center;
}

.AdsByCategory {
  background-color: abstracts.$white;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  gap: 0.8em 0.8em;
  justify-content: center;
  height: calc(100vh - 3.5em);
}
