@use '../../abstracts';

.headerAllAds {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 5fr 1fr;
  padding: 24px 16px;
  background-color: abstracts.$white;
  justify-content: center;
  align-items: start;
}
.heading {
  display: flex;
  justify-content: center;
}

.AdsByCategory {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  padding-top: 10px;
  padding-left: 0.6em;
  gap: 0.8em 0.6em;
  justify-content: start;
  align-items: start;
  //
  padding-bottom: 4.5em;
}
.background{
  background-color: abstracts.$white;
  height: 100%
}