@use '../../abstracts';
@use '../../base';

.headerSection {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: abstracts.$secondary-color;
}
