@use '../../abstracts';
@use '../../base';

.headerSection {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
  background-color: abstracts.$secondary-color;
  padding: 1em 0.5em 1em 0.5em;
}
