@use '../abstracts';
@use '../base';

.adCard{
    box-shadow: 0.4em 0.6em 0.7em rgba(19,40,50,0.2);
    border-radius: 5px;
    height: 400px;
    width: 180px;
    flex-shrink: 0;
}


.adCardImage{
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
    height: 200px;
    width: fill;
   
}
.textContent{
    padding: 0.6em;
    
    .iconText{
    display: flex;
    align-items: center;
    gap: 0.5em;
}}
.icon{
    max-height: 32px;
    max-width: 32px;
}