@use '../abstracts';
@use '../base';

.categoryHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: abstracts.$black;
}

::-webkit-scrollbar {
  display: none;
}

.showMore {
  display: flex;
  align-items: center;
  color: abstracts.$black;
}
