@use '../abstracts';
@use '../base';

.chip{
    background-color: abstracts.$secondary-color;
    font-family: base.$h5-font;
    font-weight: base.$h5-font-weight;
    font-size: base.$h5-font-size;
    color: abstracts.$primary-color;
    padding: 0.7em 1.3em;
    width: fit-content;
    display: flex;
    justify-content: center;
    border-radius: 2em;
}
