@use '../abstracts';
@use '../base';

.navContainer {
  background-color: abstracts.$primary-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.5em;

  .iconTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: abstracts.$white;

    svg {
      height: 24px;
      width: 24px;
    }
  }
}
