@use '../../abstracts';
@use '../../base';

.chatContainer {
  background-color: abstracts.$white;
  padding: 1em 0.5em;
  min-height: 100vh;

  .messageContainer {
    margin-bottom: 2em;
    .chatCard {
      border-radius: 5px;
      box-shadow: 0.1em 0.3em 0.3em 0.2em rgba(19, 40, 50, 0.2);
      height: 5.75em;
      display: flex;
      margin-bottom: 1em;

      img {
        height: 100%;
        width: 5.75em;
        border-radius: 5px 0 0 5px;
      }

      .chatCardText {
        margin-left: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      h5,
      h6,
      p {
        margin: 0.2em 0;
      }
    }
  }
}
