$primary-color: #132A36;
$secondary-color: #8AB0D2;

$white: #F4F4F4;
$black: #121212;


// Set text color - not used 
@function set-text-color($color) {
    @if (lightness($color) > 10%) {
        @return #000;
    } @else {
        @return #F4F4F4;
    }
}