/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.scrollableSection {
  display: flex;
  align-items: stretch;
  gap: 0.5em;
  overflow-x: scroll;
  padding-bottom: 1em;
  margin-left: -0.5em;
  margin-right: -0.5em;
}
.scrollableSection .adCard:last-child {
  margin-right: 1em;
}
.scrollableSection .adCard:first-child {
  padding-left: 0.5em;
}

::-webkit-scrollbar {
  display: none;
}

.categoryHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #121212;
}

::-webkit-scrollbar {
  display: none;
}

.showMore {
  display: flex;
  align-items: center;
  color: #121212;
}

.tags {
  display: flex;
  align-items: stretch;
  gap: 0.8em;
  flex-wrap: wrap;
  padding-bottom: 1em;
  padding-top: 1em;
}

.navContainer {
  background-color: #132a36;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
}
.navContainer .iconTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f4f4f4;
}
.navContainer .iconTextContainer svg {
  height: 24px;
  width: 24px;
}

.dealCard {
  display: flex;
  box-shadow: 0.4em 0.6em 0.7em rgba(19, 40, 50, 0.2);
  border-radius: 5px;
  height: stretch;
  width: stretch;
  flex-shrink: 0;
  background-color: #ffffff;
}

.dealCardImgContainer {
  width: 250px;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
}

.dealCardImage {
  border-radius: 5px 0px 0px 5px;
}

.textContentDeal {
  padding: 0.8em 8px 1em 1.2em;
  background-color: #ffffff;
  width: stretch;
  border-radius: 5px;
}
.textContentDeal .title {
  margin-block-start: 0em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
}
.textContentDeal .iconText {
  display: flex;
  align-items: center;
  gap: 0.6em;
  padding-bottom: 0.3em;
  padding-top: 8px;
}

.icon {
  max-height: 32px;
  max-width: 32px;
}

.pointsSection {
  background-color: #132a36;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0.5em;
}

.points {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.iconPoints {
  width: 1.5em;
  height: 1.5em;
}

.dealsSection {
  display: flex;
  flex-direction: column;
  padding: 8px 10px;
  gap: 1em;
  background-color: #f4f4f4;
}

.bodyText {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #121212;
}

.bodyTextLight {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #f4f4f4;
}

.heading1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.5em;
  color: #121212;
}

.heading3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: #121212;
}

.heading4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.125em;
  margin: 0.4em 0em;
}

.heading5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1em;
  margin: 0.4em 0em;
  color: #121212;
}

.loginPage {
  background-color: #8ab0d2;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
}

.loginForm {
  width: stretch;
}

.formGroup {
  padding: 0.5em 0em;
}

.signUp {
  margin-top: 1em;
}

.forgotPassword {
  margin-top: 1em;
}

.links {
  margin-top: 1em;
}

.profilePage {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-self: start;
  gap: 1em;
  padding: 0 0.5em;
  padding-bottom: 6em;
  background-color: #f4f4f4;
}

.nameAndPicture {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0em 0em 0em;
}
.nameAndPicture .profilePicture {
  width: 10em;
  height: 10em;
  border-radius: 10em;
  margin-bottom: 1em;
}

.profileShortInfo {
  display: flex;
  justify-content: space-evenly;
}

.settingsLinks {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
  text-decoration: "none";
  padding-bottom: 0.5em;
  border-bottom: solid;
  border-color: #121212;
}

.buttonSticky {
  position: -webkit-sticky;
  position: sticky;
  position: fixed;
  bottom: 1em;
  z-index: 1000;
  padding: 1em;
  width: 100vw;
}

.headerSection {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: end;
  background: #8ab0d2;
  background: url(https://blog.tubikstudio.com/wp-content/uploads/2021/10/retired-architect.jpg) no-repeat top right/cover;
  height: 150px;
  padding: 2em 0.5em 1em 0.5em;
}

.heading {
  color: #ffffff !important;
}

.homePage {
  background-color: #f4f4f4;
}
.homePage .mainContent {
  padding: 1em 0.5em;
}

.headerAllAds {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  padding: 24px 16px;
  background-color: #8ab0d2;
}

.heading {
  display: flex;
  justify-content: center;
}

.AdsByCategory {
  background-color: #f4f4f4;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding: 10px 10px 10px 10px;
  gap: 10px 10px;
  justify-content: space-between;
}

.button {
  background-color: #132a36;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #f4f4f4;
  padding: 1em;
  width: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border-style: none;
}
.button:hover {
  background-color: #284859;
}
.button:active {
  background-color: #121212;
}

.buttonDisabled {
  background-color: #d9d9d9;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #b3b3b3;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.backButton {
  width: 32px;
  height: 32px;
  z-index: 1000;
}

.backButtonOnImage {
  width: 32px;
  height: 32px;
  z-index: 1000;
  position: absolute;
  top: 20px;
  left: 20px;
}

.arrowBlack {
  width: stretch;
  height: stretch;
}

.arrowWhite {
  width: stretch;
  height: stretch;
  color: #f4f4f4;
}

.linkButton {
  color: #121212;
  display: flex;
  align-items: center;
}

.icon {
  width: 1.5em;
  height: 1.2em;
}

.chip {
  background-color: #8ab0d2;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1em;
  color: #132a36;
  padding: 0.7em 1.3em;
  width: fit-content;
  display: flex;
  justify-content: center;
  border-radius: 2em;
}

.secondary {
  background-color: none;
  border-color: #132a36;
  border-style: solid;
}

.mini {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1em;
  padding: 0.3em 0.8em;
}

.adCard {
  box-shadow: 0.4em 0.6em 0.7em rgba(19, 40, 50, 0.2);
  border-radius: 5px;
  height: 300px;
  width: 180px;
  flex-shrink: 0;
  background-color: #ffffff;
  margin-left: 0.5em;
}

.adCardImgContainer {
  border-radius: 5px;
}

.adCardImage {
  border-radius: 5px 5px 0px 0px;
  object-fit: cover;
  height: 150px;
  width: stretch;
}

.textContentAd {
  padding: 0.6em;
}
.textContentAd .title {
  margin-block-start: 0em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
}
.textContentAd .iconText {
  display: flex;
  align-items: center;
  gap: 0.6em;
  padding-bottom: 0.3em;
}

.icon {
  max-height: 32px;
  max-width: 32px;
  color: #121212;
}

.informationContentAd {
  padding: 10px;
}

.openedAdImgContainer {
  position: relative;
  top: 0;
  left: 0;
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.6));
}

.adCardImageOpened {
  position: relative;
  top: 0;
  left: 0;
  opacity: 0.7;
  object-fit: cover;
  height: 300px;
  width: stretch;
}

.backButtonOnImg {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  width: 32px;
  height: 32px;
}

.titleAndPoints {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 16px;
  padding-top: 16px;
}

.creatorSection {
  padding: 24px 0px 16px;
  display: flex;
  gap: 10px;
}

.creator {
  color: #000000;
  text-decoration: none;
}

.profilePicture {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.shortInfoSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1 1 1;
  justify-items: start;
  align-items: center;
  grid-auto-flow: row;
  padding: 24px 0 0 0;
}

.iconText {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.6em;
  padding-bottom: 0.3em;
}

.iconOpenedAd {
  width: 20px;
}

/*
.inputField {
  background-color: abstracts.$white;
  width: stretch;
  border-radius: 5px;
  border: none;
  &:focus {
    outline: none;
    background-color: abstracts.$light-gray;
  }
}
*/
.searchField {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 0.5em;
  width: stretch;
}

.inputField {
  background-color: #f4f4f4;
  width: stretch;
  border-radius: 5px;
  border: solid 0.5px #132a36;
  padding: 1em;
  background-color: #ffffff;
}
.inputField:focus {
  outline: none;
  background-color: #d9d9d9;
}

.switchContainer {
  border: 1px #132a36 solid;
  text-align: center;
  margin: 1rem;
  border-radius: 50px;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #f4f4f4;
}
.switchContainer a {
  flex: 1;
  text-decoration: none;
  margin: 0;
  padding: 8px 10%;
  border-radius: 50px;
  color: #132a36;
}
.switchContainer .active {
  background-color: #132a36;
  color: #f4f4f4;
}

.ais-Hits {
  margin: 0.5em 0;
  width: stretch;
  border-radius: 5px;
  position: relative;
}

.ais-Hits-list {
  /*
    border-radius: 5px;
    border-style: none;
    list-style-type: none;
    :first-child{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    :last-child{
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }*/
  list-style: none;
  width: stretch;
  gap: 0.8em;
  flex-wrap: wrap;
  border: 1.5px solid #b3b3b3;
  position: absolute;
  z-index: 1;
}
.ais-Hits-list :last-child {
  border-bottom: none;
}

.ais-Hits-item {
  background-color: #f4f4f4;
  padding: 0.5em;
  margin: 0.1em 0;
  border-bottom: #132a36 1em;
  /*
          background-color: abstracts.$white;
          font-family: base.$h5-font;
          font-weight: base.$h6-font-weight;
          font-size: base.$h6-font-size;
          padding: 0.5em 0.8em;
          border-bottom: 1px solid abstracts.$middle-gray;


          .selected{
            background-color: abstracts.$primary-color-active;
            color: abstracts.$white;
          }*/
}
.ais-Hits-item:hover {
  background-color: #284859;
  color: #f4f4f4;
}
.ais-Hits-item .selected {
  background-color: #284859;
  color: #f4f4f4;
}

.ais-SearchBox-form {
  display: flex;
  gap: 0.5em;
  width: stretch;
}

.ais-SearchBox-input {
  background-color: #f4f4f4;
  flex-grow: 4;
  border-radius: 5px;
  border: solid 1px #ff0000;
  padding: 0 1em;
  border-color: #132a36;
}
.ais-SearchBox-input:focus {
  outline: none;
  background-color: #d9d9d9;
}

.ais-SearchBox-submit {
  flex-grow: 1;
  min-width: 4em;
  background-color: #132a36;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #f4f4f4;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border-style: none;
}
.ais-SearchBox-submit:hover {
  background-color: #284859;
}
.ais-SearchBox-submit:active {
  background-color: #121212;
}

.tagsPage {
  position: relative;
  padding: 0 1em;
  padding-top: 5em;
  height: 100vh;
  background: rgb(244, 244, 244);
  background: linear-gradient(118deg, rgb(244, 244, 244) 0%, rgb(237, 254, 255) 100%);
}

.chosenTags {
  display: flex;
  flex-direction: column;
  height: 50vh;
  z-index: 0;
  overflow: scroll;
}

/*
.ais-SearchBox-input[type="search"]::-webkit-search-cancel-button {
  display: none;
}*/
.ais-SearchBox-reset {
  display: none;
}

.bottomButton {
  bottom: 5em;
}

.buttonSticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 4em;
  z-index: 1000;
  width: stretch;
}

.createAdContainer {
  background-color: #8ab0d2;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
  gap: 2em;
}
.createAdContainer h1 {
  margin-top: -4em;
}

/*# sourceMappingURL=main.css.map */
