@use '../../abstracts';
@use '../../base';

.loginPage {
  background-color: abstracts.$secondary-color;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
}
.loginForm {
  width: stretch;
}

.formGroup {
  padding: 1em 0em;
}

.inputField {
  padding: 1em;
  width: stretch;
}

.signUp {
  margin-top: 1em;
}
.forgotPassword {
  margin-top: 1em;
}

.links {
  margin-top: 1em;
}
