@use '../../abstracts';
@use '../../base';

.heading6 {
  font-family: base.$h6-font;
  font-weight: base.$h6-font-weight;
  font-size: base.$h6-font-size;
  color: abstracts.$black;
  margin: 0.4em 0em;
}
