@use '../../abstracts';
@use '../../base';

.heading5 {
  font-family: base.$h5-font;
  font-weight: base.$h5-font-weight;
  font-size: base.$h5-font-size;
  margin: 0.4em 0em;
  color: abstracts.$black;
}
