@use '../../abstracts';
@use '../../base';

.adCard {
  box-shadow: 0.4em 0.6em 0.7em rgba(19, 40, 50, 0.2);
  border-radius: 5px;
  height: 300px;
  width: 180px;
  flex-shrink: 0;
  background-color: #ffffff;
}
.adCardImgContainer {
  border-radius: 5px;
}

.adCardImage {
  border-radius: 5px 5px 0px 0px;
  object-fit: cover;
  height: 150px;
  width: stretch;
}
.textContentAd {
  padding: 0.6em;
  .title {
    margin-block-start: 0em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
  }
  .iconText {
    display: flex;
    align-items: center;
    gap: 0.6em;
    padding-bottom: 0.3em;
  }
}
.icon {
  max-height: 32px;
  max-width: 32px;
  color: abstracts.$black;
}
