@use '../../abstracts';

.informationContentAd {
  padding: 10px;
}

.openedAdImgContainer {
  position: relative;
  top: 0;
  left: 0;
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.6));
}
.adCardImageOpened {
  position: relative;
  top: 0;
  left: 0;
  opacity: 0.7;
  object-fit: cover;
  height: 300px;
  width: stretch;
}
.backButtonOnImg {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  width: 32px;
  height: 32px;
}
.titleAndPoints {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 16px;
  padding-top: 16px;
}
.creatorSection {
  padding: 24px 0px 16px;
  display: flex;
  gap: 10px;
}
.creator {
  color: #000000;
  text-decoration: none;
}
.profilePicture {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.shortInfoSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1 1 1;
  justify-items: start;
  align-items: center;
  grid-auto-flow: row;
  padding: 24px 0 0 0;
}
.iconText {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.6em;
  padding-bottom: 0.3em;
}
.iconOpenedAd {
  width: 20px;
}
