.informationContentAd {
  padding: 10px;
}
.titleAndPoints {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 16px;
}
.creatorSection {
  padding: 16px 0px;
  display: flex;
  gap: 10px;
}
.profilePicture {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #ff0000;
}
.shortInfoSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1 1 1;
  justify-items: start;
  grid-auto-flow: row;
  padding: 16px 0 0 0;
}
.iconText {
  display: flex;
  align-items: center;
  gap: 0.6em;
  padding-bottom: 0.3em;
}
