@use '../../abstracts';
@use '../../base';

.inputField {
  background-color: abstracts.$white;
  width: stretch;
  border-radius: 5px;
  border: solid 0.5px abstracts.$primary-color;
  padding: 0.7em;
  
  &:focus {
    outline: none;
    background-color: abstracts.$light-gray;
  }
}

.searchField {
  display: flex;
  gap: 0.5em;
  width: stretch;
}
