@use '../../abstracts';
@use '../../base';

.searchField {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 0.5em;
  width: stretch;
}
.inputField {
  background-color: abstracts.$white;
  width: stretch;
  border-radius: 5px;
  border: solid 0.5px abstracts.$primary-color;
  padding: 1em;
  background-color: #ffffff;

  &:focus {
    outline: none;
    background-color: abstracts.$light-gray;
  }
}
